In [46]:
import pandas as pd
import numpy as np

In [47]:
# load our dataset
df = pd.read_csv("newlagosrent.csv")
df.head()

,LOCATION,PRICE,DATE ADDED,BEDROOMS,BATHROOMS,TOILETS,HOUSE_TYPE_NEW
0,Ikoyi,15000000.0,2022-08-12,3,3,4,HOUSE
1,Ikoyi,10000000.0,2022-08-12,3,3,4,FLAT / APARTMENT
2,Ikoyi,50000000.0,2022-08-12,5,5,6,HOUSE
3,Ikoyi,10000000.0,2022-08-10,3,3,4,FLAT / APARTMENT
4,Ikoyi,14000000.0,2022-08-10,3,3,4,FLAT / APARTMENT

In [48]:
# check the differnt unique values in the housetype column
df["HOUSE_TYPE_NEW"].unique()

array(['HOUSE', 'FLAT / APARTMENT', 'DETACHED DUPLEX', 'TERRACED DUPLEX',
       'BLOCKS OF FLATS', 'MASSIONETTE', 'PENTHOUSE', 'MINI FLAT',
       'SELF CONTAIN', 'APARTMENT', 'DETACHED BUNGALOW',
       'TERRACED BUNGALOW', 'BOYS QUARTERS', nan, 'STUDIO APARTMENT FLAT',
       'BUNGALOW', 'TOWNHOUSE'], dtype=object)

In [49]:
df["HOUSE_TYPE_NEW"].value_counts()

FLAT / APARTMENT         50074
HOUSE                    16802
MINI FLAT                 8631
BLOCKS OF FLATS           4287
DETACHED DUPLEX           4174
SELF CONTAIN              2951
TERRACED DUPLEX           2213
APARTMENT                 2043
PENTHOUSE                  491
DETACHED BUNGALOW          383
BOYS QUARTERS              148
MASSIONETTE                127
STUDIO APARTMENT FLAT       63
TERRACED BUNGALOW           44
BUNGALOW                    20
TOWNHOUSE                    4
Name: HOUSE_TYPE_NEW, dtype: int64

In [50]:
df.isnull().sum()

LOCATION            0
PRICE               0
DATE ADDED          0
BEDROOMS            0
BATHROOMS           0
TOILETS             0
HOUSE_TYPE_NEW    391
dtype: int64

In [51]:
df.dropna(inplace = True)

In [52]:
df.isnull().sum()

LOCATION          0
PRICE             0
DATE ADDED        0
BEDROOMS          0
BATHROOMS         0
TOILETS           0
HOUSE_TYPE_NEW    0
dtype: int64

In [10]:
df.shape

(92455, 7)

In [53]:
 df = df[(df['BEDROOMS'] != 0) & (df['BATHROOMS'] != 0) & (df['TOILETS'] != 0)]

In [54]:
df.shape

(92455, 7)

In [55]:
df.duplicated().sum()

15113

In [56]:
df.drop_duplicates(inplace = True)

In [57]:
df.shape

(77342, 7)

In [58]:
df["HOUSE_TYPE_NEW"].value_counts().to_dict()

{'FLAT / APARTMENT': 41435,
 'HOUSE': 13341,
 'MINI FLAT': 7448,
 'BLOCKS OF FLATS': 3740,
 'DETACHED DUPLEX': 3714,
 'SELF CONTAIN': 2609,
 'TERRACED DUPLEX': 2013,
 'APARTMENT': 1831,
 'PENTHOUSE': 445,
 'DETACHED BUNGALOW': 373,
 'BOYS QUARTERS': 145,
 'MASSIONETTE': 123,
 'STUDIO APARTMENT FLAT': 58,
 'TERRACED BUNGALOW': 44,
 'BUNGALOW': 20,
 'TOWNHOUSE': 3}

In [59]:
# map the fiffernt house typr to a general name
House_dict = {'FLAT / APARTMENT': "FLAT" ,
 'HOUSE': "HOUSE",
 'MINI FLAT': "FLAT",
 'BLOCKS OF FLATS': "BLOCKS OF FLAT",
 'DETACHED DUPLEX': "DUPLEX",
 'SELF CONTAIN': "FLAT",
 'TERRACED DUPLEX': "DUPLEX",
 'APARTMENT': "FLAT",
 'PENTHOUSE': "PENTHOUSE",
 'DETACHED BUNGALOW': "BUNGALOW",
 'BOYS QUARTERS': "FLAT",
 'MASSIONETTE': "DUPLEX",
 'STUDIO APARTMENT FLAT': "STUDIO APARTMENT FLAT",
 'TERRACED BUNGALOW': "BUNGALOW",
 'BUNGALOW': "BUNGALOW",
 'TOWNHOUSE': "DUPLEX"}

In [60]:
df['HOUSE_TYPE'] = df['HOUSE_TYPE_NEW'].map(House_dict)

In [61]:
df['HOUSE_TYPE'].unique()

array(['HOUSE', 'FLAT', 'DUPLEX', 'BLOCKS OF FLAT', 'PENTHOUSE',
       'BUNGALOW', 'STUDIO APARTMENT FLAT'], dtype=object)

In [62]:
df.drop('HOUSE_TYPE_NEW', axis = 1, inplace = True)

In [63]:
df.head()

  LOCATION       PRICE  DATE ADDED  BEDROOMS  BATHROOMS  TOILETS HOUSE_TYPE
0    Ikoyi  15000000.0  2022-08-12         3          3        4      HOUSE
1    Ikoyi  10000000.0  2022-08-12         3          3        4       FLAT
2    Ikoyi  50000000.0  2022-08-12         5          5        6      HOUSE
3    Ikoyi  10000000.0  2022-08-10         3          3        4       FLAT
4    Ikoyi  14000000.0  2022-08-10         3          3        4       FLAT

In [64]:
df.duplicated().sum()

841

In [65]:
df.isnull().sum()

LOCATION      0
PRICE         0
DATE ADDED    0
BEDROOMS      0
BATHROOMS     0
TOILETS       0
HOUSE_TYPE    0
dtype: int64

In [66]:
df.drop_duplicates(inplace = True)

In [67]:
df.shape

(76501, 7)

In [70]:
df["LOCATION"].unique()

array(['Ikoyi', 'Yaba', 'Lekki', 'Ajah', 'Victoria Island', 'Ikeja',
       'Ilupeju ', 'Isolo', 'Shomolu ', 'Ketu', 'Surulere',
       ' Amuwo Odofin ', ' Abule Egba ', 'Oshodi ', 'Apapa ', ' Ajah ',
       ' Ikorodu ', ' Ojodu ', ' Ipaja ', 'Egbeda ', 'Ikotun', ' Idimu ',
       'Ogba ', ' Ipaja', ' Igando ', ' Akowonjo ', ' Ikate-Lekki',
       ' Ikota-Lekki', 'Chevron-Lekki', ' Phase1-Lekki', 'Phase2-Lekki ',
       'Vgc-Lekki', ' Ibeju-Lekki', ' Osapa London Lekki', 'Agungi Lekki',
       ' Lekki ', ' Victoria Island ', 'Victoria Island ',
       ' Opebi-Ikeja ', 'Allen Avenue-Ikeja ', ' GRA-Ikeja ',
       'Oregun-Ikeja', ' Ikeja ', ' Akoka-Yaba', 'Alagomeji-Yaba ',
       ' Adekunle-Yaba ', ' Abule Oja-Yaba', ' Abule Ijesha-Yaba',
       'Onike-Yaba ', ' Jibowu-Yaba ', 'Sabo-Yaba ', ' Iwaya-Yaba ',
       ' Ebute Metta-Yaba', 'Fola Agoro-Yaba', 'Yaba ',
       ' Ago Palace-Okota', 'Okota', ' Phase1-Gbagada ', 'Phase2-Gbagada',
       ' Ifako-Gbagada', 'Oworonshoki-Gbagada ', 'Soluyi-Gbagada',
       ' Medina-Gbagada', ' Gbagada', ' Anthony Village-Maryland',
       ' Mende-Maryland', ' Maryland ', 'Ikotun-Igando', ' Ojo',
       ' Igando', 'Ayobo ', 'Akesan ', ' Egbeda ', ' Fagba-Agege',
       'Cement-Agege ', 'Oko Oba-Agege ', ' Ifako-Agege',
       ' Iju Ishaga-Agege', ' Orile-Agege ', ' Agege ',
       'Marina-Lagos Island', 'Obalende-Lagos Island ', 'Lagos Island',
       'Ilasamaja-Mushin', 'Mushin', 'Phase1-Magodo', 'Phase2-Magodo',
       'Phase2-Magodo ', 'Phase1-Magodo ', 'Ojota ', 'Ogudu ',
       'Alapere-Ketu', 'Mile12-Ketu', 'Shangisha-Ketu', ' Ikosi-Ketu',
       'Epe', 'Alimosho ', 'Bariga', ' Ejigbo', 'Sangotedo', 'Badagry',
       'Ogba', 'Iganmu-Orile ', 'Fagba-Agege', 'Iju Ishaga-Agege',
       'Iganmu-Orile', 'Shomolu', 'surulere'], dtype=object)

In [71]:
df["LOCATION"] = df["LOCATION"].str.capitalize()

In [72]:
df["LOCATION"] = df["LOCATION"].str.strip()

In [73]:
df["LOCATION"].unique()

array(['Ikoyi', 'Yaba', 'Lekki', 'Ajah', 'Victoria island', 'Ikeja',
       'Ilupeju', 'Isolo', 'Shomolu', 'Ketu', 'Surulere', 'amuwo odofin',
       'abule egba', 'Oshodi', 'Apapa', 'ajah', 'ikorodu', 'ojodu',
       'ipaja', 'Egbeda', 'Ikotun', 'idimu', 'Ogba', 'igando', 'akowonjo',
       'ikate-lekki', 'ikota-lekki', 'Chevron-lekki', 'phase1-lekki',
       'Phase2-lekki', 'Vgc-lekki', 'ibeju-lekki', 'osapa london lekki',
       'Agungi lekki', 'lekki', 'victoria island', 'opebi-ikeja',
       'Allen avenue-ikeja', 'gra-ikeja', 'Oregun-ikeja', 'ikeja',
       'akoka-yaba', 'Alagomeji-yaba', 'adekunle-yaba', 'abule oja-yaba',
       'abule ijesha-yaba', 'Onike-yaba', 'jibowu-yaba', 'Sabo-yaba',
       'iwaya-yaba', 'ebute metta-yaba', 'Fola agoro-yaba',
       'ago palace-okota', 'Okota', 'phase1-gbagada', 'Phase2-gbagada',
       'ifako-gbagada', 'Oworonshoki-gbagada', 'Soluyi-gbagada',
       'medina-gbagada', 'gbagada', 'anthony village-maryland',
       'mende-maryland', 'maryland', 'Ikotun-igando', 'ojo', 'Ayobo',
       'Akesan', 'egbeda', 'fagba-agege', 'Cement-agege', 'Oko oba-agege',
       'ifako-agege', 'iju ishaga-agege', 'orile-agege', 'agege',
       'Marina-lagos island', 'Obalende-lagos island', 'Lagos island',
       'Ilasamaja-mushin', 'Mushin', 'Phase1-magodo', 'Phase2-magodo',
       'Ojota', 'Ogudu', 'Alapere-ketu', 'Mile12-ketu', 'Shangisha-ketu',
       'ikosi-ketu', 'Epe', 'Alimosho', 'Bariga', 'ejigbo', 'Sangotedo',
       'Badagry', 'Iganmu-orile', 'Fagba-agege', 'Iju ishaga-agege'],
      dtype=object)

In [75]:
df["HOUSE_TYPE"].value_counts()

FLAT                     52802
HOUSE                    13341
DUPLEX                    5678
BLOCKS OF FLAT            3740
PENTHOUSE                  445
BUNGALOW                   437
STUDIO APARTMENT FLAT       58
Name: HOUSE_TYPE, dtype: int64

In [76]:
 df_new = df[(df['HOUSE_TYPE'] != "BLOCKS OF FLAT") & (df['HOUSE_TYPE'] != "PENTHOUSE") & (df['HOUSE_TYPE'] != "STUDIO APARTMENT FLAT")]

In [77]:
df_new["HOUSE_TYPE"].value_counts()

FLAT        52802
HOUSE       13341
DUPLEX       5678
BUNGALOW      437
Name: HOUSE_TYPE, dtype: int64

In [78]:
df_new.shape

(72258, 7)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76501 entries, 0 to 92845
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    76501 non-null  object
 1   PRICE       76501 non-null  float64
 2   DATE ADDED  76501 non-null  object
 3   BEDROOMS    76501 non-null  int64
 4   BATHROOMS   76501 non-null  int64
 5   TOILETS     76501 non-null  int64
 6   HOUSE_TYPE  76501 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 4.7+ MB

In [104]:
df.to_csv("model_data.csv", index = False)